<label for="preg" class="rem">Pregunta</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/>
<br />
<label for="resp" class="rem">Respuesta</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/>
<br />
<% var temas = ["otro", "humanidades", "ocio", "ciencia", "tecnología"]; %>
Tipo de pregunta:
<select name="quiz[tema]">
<% var selecc %>
<% for (var j = 0; j< temas.length; j++) { %>
  <% if (quiz.tema === temas[j]) {selecc="selected"} else {selecc=""} %>
    <option value="<%= temas[j] %>" <%= selecc %>><%= temas[j] %></option>
<% } %>
</select>
<br />
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar" />
