<div>
  <table>
    <% var i;
        for( i=0; i<quizes.length; i++) {
    %>
            <tr></tr>
            <td>
            <a href="quizes/<%= quizes[i].id %>">
                <%= quizes[i].pregunta %>
            </a>
            (Tema: <%= quizes[i].tema %>)
            </td>
            <td>
            <a href="quizes/<%= quizes[i].id %>/edit">
              <button type="button">Editar</button>
            </a>
            </td>
            <td>
            <form action="/quizes/<%= quizes[i].id %>?_method=delete" method="post">
              <button type="submit" onClick='return confirm("Borrar pregunta");' >
                Borrar
              </button>
            </form>
            </td>
        <% } %>
  </table>
</div>
<div><hr /></div>
<div>
  <p><h3>Buscar preguntas</h3></p>
  <p>
    <form action="/quizes" method="get">
      <label for id="search">Pregunta?: </label>
      <input type="text" name="search" id="search" placeHolder="Pregunta(s) a buscar" />
      <input type="submit" value="Enviar" />
    </form>
  </p>
</div>
<div><hr /></div>
<p>
  <strong>Crear nueva Pregunta: </strong>
  <a href="/quizes/new"><button type="button">Crear Pregunta</button></a>
</p>
